<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form d-flex flex-column align-items-xl-start m-5 p-4 rounded">
    <div class="field mb-4 d-flex align-items-center justify-content-between">
      <%= form.label :name %>
      <%= form.text_field :name, class: "input align-self-end" %>
    </div>
  
    <div class="field mb-4 d-flex align-items-center">
      <%= form.label :description %>
      <%= form.text_field :description, class: "input"  %>
    </div>
  
    <div class="field mb-4 d-flex align-items-center">
      <%= form.label :due_to %>
      <%= form.datetime_select :due_to, class: "input"%>
    </div>

    <div class="actions d-flex align-items-center">
      <%= link_to 'Cancel', root_path, class: "cancel" %>
      <%= form.submit  class: "btn"%>
    </div>
  
  </div>
<% end %>
