
<%= form_with(model: @user) do |form| %>

  <div class="text-field">
    <%= form.label :name %>
    <%= form.text_field :name, type: 'text' %>
  </div>

  <div class="text-field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, type: 'text' %>
  </div>

  <div class="text-field">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email' %>
  </div>

  <% if signed_in? %>

  <%else%>

    <div class="text-field">
      <%= form.label "profile photo" %>
      <%= form.file_field :avatar %></br>
    </div>

    <div class="password-field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

  <%end%>

  <div class="submit-field">
    <%= form.submit %>
  </div>

<% end %>