
<%= form_with(model: @user) do |form| %>

  <div class="text-field">
    <%= form.label :name %>
    <%= form.text_field :name, type: 'text' %>
  </div>

  <div class="text-field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, type: 'text' %>
  </div>

  <div class="text-field">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email' %>
  </div>


  <div class="text-field">
    <%= form.label "profile photo" %>
    <%= form.file_field :avatar %></br>
    
  </div>


  
<% end %>