  <div class="text-field">
    <%= form.label :name, class: "mb-2" %>
    <%= form.text_field :name, type: 'text', class: "form-control" %>
  </div>

  <div class="text-field">
    <%= form.label :lastname, class: "mb-2 mt-2"%>
    <%= form.text_field :lastname, type: 'text', class: "form-control" %>
  </div>

  <div class="text-field">
    <%= form.label :email, class: "mb-2 mt-2" %>
    <%= form.text_field :email, type: 'email', class: "form-control" %>
  </div>

  <div class="text-field">
    <%= form.label "profile photo", class: "mb-2 mt-2" %>
    <%= form.file_field :avatar %>
  </div>

  <div class="password-field">
    <%= form.label :password, class: "mb-2 mt-2" %>
    <%= form.password_field :password, class: "form-control"%>
  </div>
  

  <div class="submit-field pt-3">
    <%= form.submit "sign_up", class: "btn btn-success" %>
  </div>
