<h1>Editing user</h1>

  <div class="text-field">
    <%= form.label "profile photo" %>
    <%= form.file_field :avatar %></br>
    <image src="<%= (url_for(current_user.avatar)) %>" style="width: 120px;">
  </div>
  
<%= render 'form', user: @user %>


<%= link_to 'Show', @user %> |
<%= link_to 'Back', user_path %>
